/build/
/dist/
/nbproject/private/
/lib/On/build/
/lib/On/dist/
/lib/On/nbproject/private/
/lib/Off/build/
/lib/Off/dist/
/lib/Off/nbproject/private/
/lib/Stop/build/
/lib/Stop/dist/
/lib/Stop/nbproject/private/
/lib/Plugin/dist/
/lib/Plugin/build/
/lib/ShowBatteryPlugin/build/
/lib/ShowBatteryPlugin/dist/
/lib/SwitchBatteryPlugin/dist/
/lib/SwitchBatteryPlugin/build/
